@page "/articles/{Id}"

@using MatBlazor
@using DivineWordAdmin.Services
@using DivineWordAdmin.Models

@inject ArticleService ArticleService

<h3>Articles</h3>

@if (Article == null)
{
    <MatProgressBar Indeterminate="true" />
}
else
{
    <div class="mat-elevation-z5 mdc-theme--surface" id="main_elevation">
        <p>
            <MatTextField @bind-Value="@Article.Header" Label="Header" id="textfield_header"></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value="@Article.Body" Label="Body" TextArea="true" id="textfield_body"></MatTextField>
        </p>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }

    private Article Article;

    protected override async Task OnInitializedAsync()
    {
        Article = await ArticleService.GetArticleById(Id);


    }
}

<style>
    #main_elevation {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    #textfield_header {
        width: 100%;
    }
    #textfield_body {
        width: 100%;
    }
</style>
